<!-- Start Footer Area -->
<!-- <section class="footer-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contact Info</h3>
                    <ul class="footer-contact-info">
                        <li>
                            <i class="flaticon-phone-call"></i>
                            <span>Mon to Fri : 10:00AM - 06:00PM</span>
                            <a href="tel:+1235421457852">+123 54214 578 52</a>
                        </li>
                        <li>
                            <i class="flaticon-email"></i>
                            <span>Do You Have a Question?</span>
                            <a href="mailto:hello@karlson.com">hello@karlson.com</a>
                        </li>
                        <li>
                            <i class="flaticon-social-media"></i>
                            <span>Socials Network</span>
                            <ul class="social">
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Quick Links</h3>
                    <ul class="footer-quick-links">
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/">About</a></li>
                        <li><a routerLink="/">Blog</a></li>
                        <li><a routerLink="/">Contact</a></li>
                        <li><a routerLink="/">Agency</a></li>
                        <li><a routerLink="/">Digital</a></li>
                        <li><a routerLink="/">Support</a></li>
                        <li><a routerLink="/">Shop</a></li>
                        <li><a routerLink="/">Agency</a></li>
                        <li><a routerLink="/">Digital</a></li>
                        <li><a routerLink="/">Support</a></li>
                        <li><a routerLink="/">Shop</a></li>
                        <li><a routerLink="/">Digital</a></li>
                        <li><a routerLink="/">Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Instagram</h3>
                    <ul class="footer-instagram-post">
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram1.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram2.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram3.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram4.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram5.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram6.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram7.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram8.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram1.jpg" alt="image">
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <p>Copyright @{{currentYear}} <a href="https://envytheme.com/" target="_blank">EnvyTheme</a>. All rights reserved</p>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <ul>
                        <li><a routerLink="/">Terms & Conditions</a></li>
                        <li><a routerLink="/">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Footer Area -->

<section class="footer-area"
    style="padding-top: 20px; font-family: 'Congenial';">
    <div class="container">
        <div class="row justify-content-center">
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">

                    <h3>Quick Links</h3>
                    <ul class="footer-quick-links"
                        style="display: block;">
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="http://bmeb.gov.bd/">Bangladesh Madrasah Education Board </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="https://iau.edu.bd/">Islamic Arabic University </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="http://dme.gov.bd/">Directorate of Madrasha Education (DME) </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="http://nctb.gov.bd/">National Curriculum and Textbook Board (NCTB) </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="https://www.anjumantrust.org/">Anjuman-E-Shura-E-Rahmania </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="http://www.educationboardresults.gov.bd/">Education Board Result </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="http://tmed.gov.bd/">Technical and Madrasah Education Division </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="http://banbeis.gov.bd/new/">Banbeis</a></li>
                    </ul>

                </div>
            </div> -->
            <div class="col-lg-3 col-md-6 col-sm-6">
               
                    <div class="single-footer-widget">
                        <h3 style="font-family: 'Congenial'">Important Links</h3>
                        <div class="card my-1">
                            <div class="card">
                                <a href="http://bmeb.gov.bd/" target="_blank" rel="noopener noreferrer"
                                    class="list-group-item list-group-item-action text-start">Bangladesh Madrasah Education Board</a>
                            </div>
                        </div>
                        <div class="card my-1">
                            <div class="card">
                                <a href="https://iau.edu.bd/" target="_blank" rel="noopener noreferrer"
                                    class="list-group-item list-group-item-action text-start">Islamic Arabic University</a>
                            </div>
                        </div>
                        <div class="card my-1">
                            <div class="card">
                                <a href="http://dme.gov.bd/" target="_blank" rel="noopener noreferrer"
                                    class="list-group-item list-group-item-action text-start">Directorate of Madrasha Education (DME)</a>
                            </div>
                        </div>
                        <div class="card my-1">
                            <div class="card">
                                <a href="http://nctb.gov.bd/" target="_blank" rel="noopener noreferrer"
                                    class="list-group-item list-group-item-action text-start">National Curriculum and Textbook Board (NCTB)</a>
                            </div>
                        </div>
                        <div class="card my-1">
                            <div class="card">
                                <a href="https://www.anjumantrust.org/" target="_blank" rel="noopener noreferrer"
                                    class="list-group-item list-group-item-action text-start">Anjuman-E-Rahmania</a>
                            </div>
                        </div>
                        <div class="card my-1">
                            <div class="card">
                                <a href="http://www.educationboardresults.gov.bd/" target="_blank" rel="noopener noreferrer"
                                    class="list-group-item list-group-item-action text-start">Education Board Result</a>
                            </div>
                        </div>
                        <div class="card my-1">
                            <div class="card">
                                <a href="http://tmed.gov.bd/" target="_blank" rel="noopener noreferrer"
                                    class="list-group-item list-group-item-action text-start">Technical and Madrasah Education Division</a>
                            </div>
                        </div>
                        <div class="card my-1">
                            <div class="card">
                                <a href="http://banbeis.gov.bd/new/" target="_blank" rel="noopener noreferrer"
                                    class="list-group-item list-group-item-action text-start">Banbeis</a>
                            </div>
                        </div>
                   
                </div>
                <!-- <div class="single-footer-widget">

                    <h3>Quick Links</h3>
                    <ul class="footer-quick-links"
                        style="display: block;">
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="http://bmeb.gov.bd/">Bangladesh Madrasah Education Board </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="https://iau.edu.bd/">Islamic Arabic University </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="http://dme.gov.bd/">Directorate of Madrasha Education (DME) </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="http://nctb.gov.bd/">National Curriculum and Textbook Board (NCTB) </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="https://www.anjumantrust.org/">Anjuman-E-Shura-E-Rahmania </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="http://www.educationboardresults.gov.bd/">Education Board Result </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="http://tmed.gov.bd/">Technical and Madrasah Education Division </a></li>
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="http://banbeis.gov.bd/new/">Banbeis</a></li>
                    </ul>

                </div> -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Download Links</h3>
                    <ul class="footer-quick-links"
                        style="display: block;">
                        <li style="max-width: fit-content;"><a target="_blank"
                                href="https://iau.edu.bd/wp-content/uploads/2023/02/exm2662-ka.pdf ">Application for Certificate and Transcript</a>
                        </li>
                   
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Socials Links</h3>
                    <ul class="footer-contact-info">
                        <!-- <li>
                            <i class="flaticon-phone-call"></i>
                            <span>Mon to Fri : 10:00AM - 06:00PM</span>
                            <a href="tel:+1235421457852">+123 54214 578 52</a>
                        </li>
                        <li>
                            <i class="flaticon-email"></i>
                            <span>Do You Have a Question?</span>
                            <a href="mailto:hello@karlson.com">hello@karlson.com</a>
                        </li> -->
                        <li style="padding-left: 0;">
                            <!-- <i class="flaticon-social-media"></i> -->
                            <!-- <span>Socials Network</span> -->
                            <ul class="social">
                                <!-- <li><a href="#"
                                        target="_blank"><i class="fab fa-twitter"></i></a></li> -->
                                <li><a href="https://www.facebook.com/jaskmofficials"
                                        target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <!-- <li><a href="#"
                                        target="_blank"><i class="fab fa-instagram"></i></a></li> -->
                                <!-- <li><a href="#"
                                        target="_blank"><i class="fab fa-linkedin"></i></a></li> -->
                                <li><a href="https://www.youtube.com/@jaskmofficial"
                                        target="_blank"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="https://twitter.com/"
                                        target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/"
                                        target="_blank"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Our Address</h3>
                    <!-- <ul class="footer-instagram-post">
                        <li><a href="#"
                                target="_blank">
                                <img src="assets/img/instagram-image/instagram1.jpg"
                                    alt="image">
                            </a></li>
                        <li><a href="#"
                                target="_blank">
                                <img src="assets/img/instagram-image/instagram2.jpg"
                                    alt="image">
                            </a></li>
                        <li><a href="#"
                                target="_blank">
                                <img src="assets/img/instagram-image/instagram3.jpg"
                                    alt="image">
                            </a></li>
                        <li><a href="#"
                                target="_blank">
                                <img src="assets/img/instagram-image/instagram4.jpg"
                                    alt="image">
                            </a></li>
                        <li><a href="#"
                                target="_blank">
                                <img src="assets/img/instagram-image/instagram5.jpg"
                                    alt="image">
                            </a></li>
                        <li><a href="#"
                                target="_blank">
                                <img src="assets/img/instagram-image/instagram6.jpg"
                                    alt="image">
                            </a></li>
                        <li><a href="#"
                                target="_blank">
                                <img src="assets/img/instagram-image/instagram7.jpg"
                                    alt="image">
                            </a></li>
                        <li><a href="#"
                                target="_blank">
                                <img src="assets/img/instagram-image/instagram8.jpg"
                                    alt="image">
                            </a></li>
                        <li><a href="#"
                                target="_blank">
                                <img src="assets/img/instagram-image/instagram1.jpg"
                                    alt="image">
                            </a></li>
                    </ul> -->

                    <!-- <ul class="footer-contact-info">
                        <li style="padding-left: 0;">
                            <span>Sholashahar, Post: Chandgaon-4212, Panchlaish, Chattagram, Bangladesh. <br>Phone:
                                01309-104702
                                <br>Mobile: 01309-104702
                                <br>E-mail: jasactg@gmail.com</span>
         
                        </li>

                    </ul> -->
                    <ul class="footer-quick-links"
                        style="display: block;">
                        <li style="max-width: fit-content;">
                            <span style="color: #ffffff;">Sholashahar, Post: Chandgaon-4212, Panchlaish, Chattagram,
                                Bangladesh. <br>Phone : 02334455476
                                <br> Mobile: 01309-104702
                                <br>E-mail: jasactg@gmail.com / jaskmctg@gmail.com </span>
                        </li>
                    </ul>
                    <div class="responsive-map" style='margin-top: 20px;'>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14757.736545755877!2d91.8372072!3d22.3749855!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30ad27816309aeb7%3A0xcad5f4f134653769!2sJamea%20Ahmadia%20Sunnia%20Kamil%20Madrasah!5e0!3m2!1sen!2sbd!4v1694416250929!5m2!1sen!2sbd"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <p>Copyright &#64;{{currentYear}} Jamea Ahmadia Sunnia Kamil Madrasah. All rights reserved</p>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <ul>
                        <li>
                            <p>Developed by <a href="https://deshuniversal.com/" class="text-gray-600 ml-1" target="_blank"
                                    rel="noopener noreferrer">Desh
                                    Universal Pvt. Limited</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
