.area1 {
  position: relative;
  z-index: 1;

  background: {
    image: url('/assets/img/banner-image/footer.png');
    // position: center center;
    size: cover;
    repeat: no-repeat;
  }
}

.responsive-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


.card:hover {
    background-color: #093032;
    color: white;
    font-weight: 600;
}

.card {
    background-color: #303030;
    color: white;
}