<!-- <app-navbar-style-two-2></app-navbar-style-two-2>

<section class="blog-details-area pb-100" style="
background-image: url('assets/img/banner-image/bg.png');  
/* background-size: cover; */

 /* background-repeat: repeat-y; */
padding-top: 20px;
font-family: 'Congenial';">
    <div class="container" style="background: transparent;">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc bgImage" style=" padding: 20px; border: 1px solid #eeeeee;">
                    <div class="article-image">
                        <h2 style="font-weight: normal;">
                            Principal's Message
                        </h2>
                        <img style='height: 200px; width: 200px;' src="assets/img/banner-image/Principal.png"
                            alt="image">
                    </div>
                    <div class="article-content">

                        <p>
                            All praises are reserved for the omnipotent Allah. Countless salutations and peace be upon
                            the beloved Prophet Muhammad,
                            peace and blessings be upon him. Education is the backbone of a nation, and gaining
                            spiritual knowledge is exceedingly
                            vital for the human existence. In 1954, one of the spiritual saints of the subcontinent,
                            Qutbul Auliya, Hadi-ye Deen wa
                            Millat, Rahnuma-ye Shariat wa Tariqat, Peshwa-ye Ahle Sunnat Hazratul Allama Hafeez Qari
                            Syed Ahmad Shah Sirikoti (RA)
                            founded Jamia Ahmadia Sunnia Kamil Madrasah thinking about the propagation of religious
                            education. We are earnestly
                            grateful to Huzur Qibla Shahenshah-e Sirikoti (RA). <br>
                            Today, this madrasah continues to play a pivotal role in the establishment and propagation
                            of Islam and Sunniyat both in
                            the country and overseas. The fame and reputation of this madrasah have spread throughout
                            the world due to the patronage
                            of Gaus-e-Jaman Al-e Rasul Allama Hafiz Qari Syed Muhammad Tayyab Shah (RA). At present,
                            under the spiritual leadership
                            of Hazrat Allama Syed Muhammad Tahir Shah (MJA) and the guidance of Hazrat Allama Pir Syed
                            Muhammad Sabir Shah (MJA),
                            along with other revered Mashaykh of this Silsila, the activities of the madrasa are
                            progressing rapidly. For this,
                            countless thanks are due to Allah the Magnificent. Alhamdulillah. <br>
                            I pay my cordial felicitations to those who have sacrificed and served for this Madrasah,
                            which has now attained a place
                            in the hearts of Sunni Muslims all over the world. I pray for the well-being and success of
                            all the students, teachers,
                            administrators, Arakin-e-Anjuman, Madrasah management committee, and Gausia Committee
                            Bangladesh. Ya Rabbal A'lamin, may
                            their efforts be blessed and may they be successful both here and hereafter. Amen, may the
                            blessings of the Prophet and
                            his companions be upon them.
                        </p>
                        <div class="row">

                            <div class="col-lg-6 col-md-12">

                            </div>
                            <div class="col-lg-6 col-md-12">

                                <p>
                                    Qazi Abdul Alim Rezvi
                                    <br>
                                    Principal
                                    <br>
                                    Jamea Ahmadia Sunnia Kamil Madrasah
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <aside class="widget-area" id="secondary">

                    <section class="widget widget_karlson_posts_thumb" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; padding-top: 0; border: 1px solid #eeeeee;">

                        <div class="page-title-content" style="margin-top: 0; text-align: left;">
                            <ul>
                                <li>
                                    <a routerLink="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li>Administration</li>
                                <li>Principal's Message</li>
                            </ul>
                        </div>

                    </section>

                    <section class="widget widget_karlson_posts_thumb" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; border: 1px solid #eeeeee; margin-top: 15px;">
                        <h3 class="widget-title">Suggested Video</h3>

                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/MAz9kRnvSYE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>

                    </section>

                    <section class="widget widget_categories" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; border: 1px solid #eeeeee; margin-top: 15px;">
                        <h3 class="widget-title">Related Topics</h3>

                        <ul>
                            <li>
                                <a routerLink="/governing-body">Governing Body</a>
                            </li>
                            <li>
                                <a routerLink="/chairman-message">Chairman Message</a>
                            </li>
                            <li>
                                <a routerLink="/principal-message">Principal Message</a>
                            </li>
                            <li>
                                <a routerLink="/teacher">Teacher</a>
                            </li>
                            <li>
                                <a routerLink="/office-staff">Office Staff</a>
                            </li>
                        </ul>

                    </section>

                </aside>
            </div>
        </div>
    </div>
</section> -->