<app-navbar-style-two-2></app-navbar-style-two-2>

<section class="blog-details-area pb-100" style="
background-image: url('assets/img/banner-image/bg.png');  
/* background-size: cover; */

 /* background-repeat: repeat-y; */
padding-top: 20px;
font-family: 'Congenial';">
    <div class="container" style="background: transparent;">

        <div class="row justify-content-center align-items-center">

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div style="margin-bottom: 30px;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);">

                    <div style="padding: 15px;
                    position: relative;
                    text-align: center;
                    ;">
                        <h3 style="font-weight: normal;">Governing Body</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center" style="padding-bottom: 35px;">
            <div class="col-lg-4 col-sm-6">

            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="featured-solution-card text-center bgImage" style="margin-bottom: 0; ; height: 330px;">
                    <div>
                        <img src="assets/img/banner-image/Chairman.jpg" alt="image" style="padding-top: 10px;">
                        <h3 style="margin-top: 15px;">
                            <a routerLink="/chairman-message">Alhaj Abul Mohsin Md. Yeahia Khan</a>
                        </h3>
                        <p>Chairman</p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">

            </div>

        </div>

        <div class="row text-center" style="padding-bottom: 35px;">
            <div class="col-lg-4 col-sm-6">
                <div class="featured-solution-card text-center bgImage" style="margin-bottom: 0; ; height: 330px;">
                    <div>
                        <img src="assets/img/client-image/dummy.png" alt="image" style="padding-top: 10px;">
                        <h3 style="margin-top: 15px;">
                            <a routerLink="/principal-message">Alhaj Muhammad Mohsin</a>
                        </h3>
                        <p>Member</p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="featured-solution-card text-center bgImage" style="margin-bottom: 0; ; height: 330px;">
                    <div>
                        <img src="assets/img/client-image/dummy.png" alt="image" style="padding-top: 10px;">
                        <h3 style="margin-top: 15px;">
                            <a routerLink="/vice-principal-message">Alhaj Mohammad Anwar Hossain</a>
                        </h3>
                        <p>Member</p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="featured-solution-card text-center bgImage" style="margin-bottom: 0; ; height: 330px;">
                    <div>
                        <img src="assets/img/client-image/dummy.png" alt="image" style="padding-top: 10px;">
                        <h3 style="margin-top: 15px;">
                            <a routerLink="/#">Alhaj Muhammad Shamsuddin</a>
                        </h3>
                        <p>Member</p>

                    </div>

                </div>
            </div>

        </div>

        <div class="row text-center" style="padding-bottom: 35px;">
            <div class="col-lg-4 col-sm-6">
                <div class="featured-solution-card text-center bgImage" style="margin-bottom: 0; ; height: 330px;">
                    <div>
                        <img src="assets/img/client-image/dummy.png" alt="image" style="padding-top: 10px;">
                        <h3 style="margin-top: 15px;">
                            <a routerLink="/#">Alhaj Muhammad Sirajul Hoque</a>
                        </h3>
                        <p>Member</p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="featured-solution-card text-center bgImage" style="margin-bottom: 0; ; height: 330px;">
                    <div>
                        <img src="assets/img/client-image/dummy.png" alt="image" style="padding-top: 10px;">
                        <h3 style="margin-top: 15px;">
                            <a routerLink="/#">Alhaj Payer Muhammad (Ex- Commissioner)</a>
                        </h3>
                        <p>Member</p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="featured-solution-card text-center bgImage" style="margin-bottom: 0; ; height: 330px;">
                    <div>
                        <img src="assets/img/client-image/dummy.png" alt="image" style="padding-top: 10px;">
                        <h3 style="margin-top: 15px;">
                            <a routerLink="/#">Alhaj Muhammad Kamal Uddin Chy</a>
                        </h3>
                        <p>Member</p>

                    </div>

                </div>
            </div>

        </div>

        <div class="row text-center " style="padding-bottom: 35px;">
            <div class="col-lg-4 col-sm-6">
                <div class="featured-solution-card text-center bgImage" style="margin-bottom: 0; ; height: 330px;">
                    <div>
                        <img src="assets/img/client-image/dummy.png" alt="image" style="padding-top: 10px;">
                        <h3 style="margin-top: 15px;">
                            <a routerLink="/#">Muhammad Hasanur Rashid</a>
                        </h3>
                        <p>Member</p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="featured-solution-card text-center bgImage" style="margin-bottom: 0; ; height: 330px;">
                    <div>
                        <img src="assets/img/client-image/dummy.png" alt="image" style="padding-top: 10px;">
                        <h3 style="margin-top: 15px;">
                            <a routerLink="/#">Maulana Mohammad Jashim Uddin Al-Azhari</a>
                        </h3>
                        <p>Member</p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="featured-solution-card text-center bgImage" style="margin-bottom: 0; ; height: 330px;">
                    <div>
                        <img src="assets/img/client-image/dummy.png" alt="image" style="padding-top: 10px;">
                        <h3 style="margin-top: 15px;">
                            <a routerLink="/#">Alhaj Moulana Muhammad Anisuzzaman</a>
                        </h3>
                        <p>Member</p>

                    </div>

                </div>
            </div>

        </div>

        <div class="row text-center" style="padding-bottom: 35px;">
            <div class="col-lg-4 col-sm-6">
                <div class="featured-solution-card text-center bgImage" style="margin-bottom: 0; ; height: 330px;">
                    <div>
                        <img src="assets/img/banner-image/Principal.png" alt="image" style="padding-top: 10px; height: 190px; width: 170px;">
                        <h3 style="margin-top: 15px;">
                            <a routerLink="/#">Principle, Jamea Ahmadia Sunnia Kamil Madrasah</a>
                        </h3>
                        <p>Secretary</p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">

            </div>
            <div class="col-lg-4 col-sm-6">

            </div>

        </div>

    </div>
</section>