<app-navbar-style-two-2></app-navbar-style-two-2>

<section class="blog-details-area pb-100" style="
background-image: url('assets/img/banner-image/bg.png');  
/* background-size: cover; */

 /* background-repeat: repeat-y; */
padding-top: 20px;
font-family: 'Congenial';">
    <div class="container" style="background: transparent;">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="blog-details-desc" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; border: 1px solid #eeeeee;">
                    <div class="article-image">
                        <h2 style="font-weight: normal;">
                            Academic Rules
                        </h2>
                        <!-- <img src="assets/img/banner-image/banner1-1.png" alt="image"> -->
                    </div>
                    <div class="article-content">

                        <p>
                            <strong>Discipline, Manners, Politeness</strong><br>
                            The students are required to abide by the rules and regulations of the institution and
                            behave according to the norms and
                            manners of our culture and society. If any student fails to adhere to these and defy the
                            rules of discipline, he will be
                            dealt with proper punishment and this may lead to expulsion from the institution. <br>
                            <strong>Leave of absence:</strong><br>
                            Students are expected to be punctual in attending their classes, which is the basic source
                            of their learning. In case of
                            sickness or any other valid reasons the students should submit written application to the
                            principal with comments from
                            his parent/legal guardian and leave will be granted.
                            In case of absence of the child, the Principal should be informed with a letter from the
                            parents. The doctors must
                            certify a long absence for sickness.
                            No leave will be granted without the sanction of the principal. In case of urgent
                            requirement, leave will be granted on
                            submission of excuse letter from parents or guardians. <br>
                            <strong>Meeting and co-ordination-guardian, teachers & authority of this
                                institution</strong> <br>
                            The parents send their children for learning and preparation of lessons in the institution.
                            The institutions expects
                            that the parents will see their wards prepare their lessons at home on their own as per
                            direction and guidance given by
                            the Madrasha teachers.
                            Parents/Guardians would be kept updated with pertaining information regarding the
                            performance of the students.
                            Suggestions on problems and issues discussed in the meeting as offered by the parents will
                            always be welcomed for
                            improvement of the institution. We expect the parent/guardian to see us as and when he seems
                            so.
                            We expect whole-hearted co-operation from the parents towards achieving the aims and
                            objectives of the institution.

                        </p>

                    </div>

                </div>
            </div>


        </div>
    </div>
</section>