// .sect1 {
//   // height: 650 px;
//   color: #fff;
//   background-image: url('../../../../assets/img/banner-image/footer_bg.jpg');
//   /* background-size: cover; */
//   /* background-size: cover; */
// }
