<app-navbar-style-two-2></app-navbar-style-two-2>

<section class="blog-details-area pb-100" style="
background-image: url('assets/img/banner-image/bg.png');  
/* background-size: cover; */

 /* background-repeat: repeat-y; */
padding-top: 20px;
font-family: 'Congenial';">
    <div class="container" style="background: transparent;">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; border: 1px solid #eeeeee;">
                    <div class="article-image">
                        <h2 style="font-weight: normal;">
                            Computer Lab
                        </h2>
                        <div class="image-container">
                            <img src="assets/img/school/facilities/DSC_0414.JPG" alt="image">
                            <img src="assets/img/school/facilities/DSC_0419.JPG" alt="image">
                            <img src="assets/img/school/facilities/DSC_0420.JPG" alt="image">
                        </div>
                    </div>
                    <div class="article-content">

                        <p>
                            <strong>ICT Lab (Information & Communication Technology)</strong> <br>
                            The world is going to be a digital planet. Globalization and use of information and
                            communication Technology (ICT) have
                            brought the nations closer. At present almost every state is running to become a IT based
                            society. Bangladesh cannot
                            remain out of it and the government has declared to turn Bangladesh into a digital one. To
                            digitalize Bangladesh in
                            every sector government has taken steps to impart IT based Education among the students of
                            our country. Hence, Education
                            Ministry has selected 30 Model Madrasha from thousands of Madrsaha from all around
                            Bangladesh. We are happy that among
                            30 Model Madrasah Jamia’s position is top in the list. As a part of Model Madrasah, recently
                            we have got Twenty
                            Computers, Ten UPS, Two IPS, One Projector and Computer lab related full fledged furniture
                            such as Eight Almirahs,
                            Twenty Chairs, Twenty Tables, Four Reading Tables and all other Computer instruments whose
                            value would be an amount of
                            Tk. 30 lac.
                            At present, students in Two Batches are attending classes in our ICT lab.

                        </p>

                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <aside class="widget-area" id="secondary">

                    <section class="widget widget_karlson_posts_thumb" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; padding-top: 0; border: 1px solid #eeeeee;">

                        <div class="page-title-content" style="margin-top: 0; text-align: left;">
                            <ul>
                                <li> <a routerLink="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a></li>
                                <li>Facilities</li>
                                <li>Computer Lab</li>
                            </ul>
                        </div>

                    </section>

                    <section class="widget widget_karlson_posts_thumb" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; border: 1px solid #eeeeee; margin-top: 15px;">
                        <h3 class="widget-title">Suggested Video</h3>

                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/MAz9kRnvSYE"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen=""></iframe>

                    </section>

                    <section class="widget widget_categories" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; border: 1px solid #eeeeee; margin-top: 15px;">
                        <h3 class="widget-title">Related Topics</h3>

                        <ul>
                            <li>
                                <a routerLink="/classroom">Classroom</a>
                            </li>
                            <li>
                                <a routerLink="/computer-lab">Computer Lab</a>
                            </li>
                            <li>
                                <a routerLink="/science-lab">Science Lab</a>
                            </li>
                            <li>
                                <a routerLink="/library">Library</a>
                            </li>
                            <li>
                                <a routerLink="/hostel">Hostel</a>
                            </li>
                            <li>
                                <a routerLink="/play-ground">Play Ground</a>
                            </li>
                            <li>
                                <a routerLink="/canteen">Canteen</a>
                            </li>
                        </ul>

                    </section>

                </aside>
            </div>
        </div>
    </div>
</section>