.sect1 {
  // height: 650 px;
  color: #fff;
  background-image: url('../../../../assets/img/banner-image/footer_bg.jpg');
  /* background-size: cover; */
  /* background-size: cover; */
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.image-container img {
  max-width: 100%;
  height: 300px;
  width: 400px;
  // height: auto;
  object-fit: fit;
}
