.blog-details-desc {
    background-image: url(/assets/img/school/bg-popup.png);
    background-size: 100px;
}
.bg-image {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
}

.tab-pane.fade.show {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card.custom-padding {
  padding-bottom: 20px;
}

.loading-spinner {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // Add this line to center the spinner horizontally and vertically
  width: 32px;
  height: 32px;

  .path {
    stroke: gray;
    stroke-linecap: round;
    animation: dash 1.1s ease-in-out infinite;
  }
}


@keyframes dash {
  0% {
    stroke-dasharray: 1, 160;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 80, 160;
    stroke-dashoffset: -32;
  }

  100% {
    stroke-dasharray: 80, 160;
    stroke-dashoffset: -124;
  }
}

.cardPhoto {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.image-container {
  position: relative;
  width: 100%;
  height: 150px;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spinner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fetching-data-text {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.fit-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
// For list group style
.list-group-item.active{
background-color: #082C5C;
border-color: #082C5C;
}