<app-navbar-style-two-2></app-navbar-style-two-2>

<section class="blog-details-area pb-100" style="
background-image: url('assets/img/banner-image/bg.png');  
/* background-size: cover; */

 /* background-repeat: repeat-y; */
padding-top: 20px;
font-family: 'Congenial';">
    <div class="container" style="background: transparent;">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; border: 1px solid #eeeeee;">
                    <div class="article-image">
                        <h2 style="font-weight: normal;">
                            Infrastructure
                        </h2>
                        <div class="machine-learning-slider owl-carousel owl-theme" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding-top: 20px; padding-bottom: 35px; border: 1px solid #eeeeee;">
                            <div class="d-table">
                                <div class="d-table-cell" style="margin-bottom: 20px;">
                                    <div class="container mt-80">
                                        <div class="article-image">
                                            <img src="assets/img/blog-image/Administrative_Acadmic_Building_1.jpeg"
                                                alt="image">
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="d-table">
                                <div class="d-table-cell">
                                    <div class="container mt-80">
                                        <div class="article-image">
                                            <img src="assets/img/blog-image/Academic_Building_2.jpeg" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-table">
                                <div class="d-table-cell">
                                    <div class="container mt-80">
                                        <div class="article-image">
                                            <img src="assets/img/blog-image/Honors_Department.jpeg" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-table">
                                <div class="d-table-cell">
                                    <div class="container mt-80">
                                        <div class="article-image">
                                            <img src="assets/img/blog-image/Jamea_Play_Ground.jpeg" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="article-content">

                        <p>Jamea is characterized for having an excellent permanent campus including two 6 storied
                            magnificent Academic Building,
                            two Hostel Buildings and a Honors Building. Erection of other building is going on. Jamea
                            can boast of maintaining an
                            environment completely free from politics & political conflicts. A celestial environment
                            creates when teachers students
                            start their day seeking blessing of Allah & sending their daruds to prophet (Sm.) attending
                            Assembly every morning.
                        </p>

                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <aside class="widget-area" id="secondary">

                    <section class="widget widget_karlson_posts_thumb" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; padding-top: 0; border: 1px solid #eeeeee;">

                        <div class="page-title-content" style="margin-top: 0; text-align: left;">
                            <ul>
                                <li> <a routerLink="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a></li>
                                <li>About</li>
                                <li>Infrastructure</li>
                            </ul>
                        </div>

                    </section>

                    <section class="widget widget_karlson_posts_thumb" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; border: 1px solid #eeeeee; margin-top: 15px;">
                        <h3 class="widget-title">Suggested Video</h3>

                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/MAz9kRnvSYE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>

                    </section>

                    <section class="widget widget_categories" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; border: 1px solid #eeeeee; margin-top: 15px;">
                        <h3 class="widget-title">Related Topics</h3>

                        <ul>
                            <li>
                                <a routerLink="/at-a-glance">At a glance</a>
                            </li>
                            <li>
                                <a routerLink="/history">History</a>
                            </li>
                            <li>
                                <a routerLink="/mission-and-vision">Mission and Vision </a>
                            </li>
                            <li>
                                <a routerLink="/infrastructure">Infrastructure</a>
                            </li>
                            <li>
                                <a routerLink="/achievement">Achievement</a>
                            </li>
                            <li>
                                <a routerLink="/news-and-events">News & Events</a>
                            </li>
                        </ul>

                    </section>

                </aside>
            </div>
        </div>
    </div>
</section>