.elip {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.blog-details-desc {
    background-image: url(/assets/img/school/bg-popup.png);
    background-size: 100px;
}