<app-navbar-style-two-2></app-navbar-style-two-2>

<section class="blog-details-area pb-100" style="
background-image: url('assets/img/banner-image/bg.png');  
/* background-size: cover; */
 /* background-repeat: repeat-y; */
padding-top: 20px;
font-family: 'Congenial';">
    <div class="container" style="background: white;">
        <div class="blog-details-desc bgImage">
            <div class="article-image">
                <h2 style="font-weight: normal;">
                    Welcome Message
                </h2>
            </div>
            <div class="article-content">
                <p>
                    Assalam Alaikum Wa Rahmatullahi Wa Barakatuhu. <br> <br>
                    Welcome to Jamea Ahmadia Sunnia Kamil Madrasah. May Allah bestow upon you Jaza E Khair for
                    choosing to provide your
                    child an education that will give a sound foundation for the betterment of his Duniya and
                    Akhira. <br> <br>
                    Children are truly a blessing and ammanh from Allah Az Wa Jal and providing them with the
                    right upbringing and education
                    is parent's foremost duty. <br> <br>
                    The Holy Prophet Mohammad (Sallallahu Alaihe Wa Sallam) said - “To teach one's child manners
                    is better than giving alms
                    in charity in the way of Allah.” (Tirmidhi Sharif) <br> <br>
                    Hazrat Allama Syed Tayyab Shah (RAH) Said - “Work, save Islam, save Religion, create true
                    Islamic Scholars.” <br> <br>
                    Jamea Ahmadia Sunnia Kamil Madrasah imparts education in an Islamic environment. Islamic
                    principles and teachings are
                    integral parts of school curriculum. As students of Jamea Madrasah, student first learn to
                    love the Creator Allah Subhan
                    Wa Ta'ala, Rasulullah Sallallahu Alaihe Wa Sallam And Wali-Allah before learning
                    Mathematics, Science or Social Studies
                    etc.. Reading of Holy Quran, Hadith, Fiqh, Tafsir Duas are lessons that are conducted on a
                    daily basis. Emphasis on
                    co-curricular activities such as P.T And Educational Excursions, ensures all round
                    development of the student. <br> <br>
                    Well qualified teachers and staff at Jamea Ahmadia Sunnia Kamil Madrasah maintain a family
                    like warm and embracing
                    atmosphere and strives to acknowledge each student's physical, mental and emotional
                    potential without any discrimination
                    or bias. Facilitating such a loving and encouraging atmosphere propels the student with
                    leaps and bounds on his academic
                    journey. <br> <br>
                    Jamea Ahmadia Sunnia Kamil Madrasah understands the struggle that parents go through to
                    provide an Islamic upbringing to
                    their children in this turbulent times, hence Bi Iznillah it arranges workshops sessions for
                    parents on a regular basis. <br> <br>
                    Ever growing and evolving Jamea Ahmadia Sunnia Kamil Madrasah strives to provide education
                    to student that will
                    Inshallah Help Them To Attain The Best In This World And The Hereafter Too. <br> <br>
                    May Allah Accept All Our Deeds And Keep Us Rooted On Sirat Al Mustaqeem. <br> <br>
                    Aameen.
                </p>
            </div>
        </div>
    </div>
</section>