.sect1 {
  // height: 650 px;
  color: #fff;
  background-image: url('../../../../assets/img/banner-image/footer_bg.jpg');
  /* background-size: cover; */
  /* background-size: cover; */
}

.container {
  margin-top: 20px;
}

.item {
  margin-bottom: 15px;

  &:hover {
    cursor: pointer;
  }
}

.container {
  margin-top: 20px;
}

.item {
  margin-bottom: 15px;

  &:hover {
    cursor: pointer;
  }
}

.ticker-wrapper-v-image {
  position: relative;
  width: 100%;
  height: 500px;
  overflow-y: auto;
}

.news-ticker-v-image {
  list-style: none;
  margin: 0;
  padding: 0;
}

.news-ticker-v-image .thumbnail {
  max-width: 100%;
  height: auto;
  float: left;
  margin-right: 10px;
}

.news-ticker-v-image .clear {
  clear: both;
}

.viewport {
  border: 1px solid #ccc;
  height: 500px;
  overflow-y: auto;
}

.notice-list .list-group-item:hover {
  background-color: #f2f2f2;
}

.notice-title {
  padding: 10px;
  background-color: #082c5c;
  color: #ffffff;
  position: sticky;
  top: 0;
  text-align: center;
}
