.blog-details-desc {
    background-image: url(/assets/img/school/bg-popup.png);
    background-size: 100px;
}
.gallery-section {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
  }

  .gallery-container {
    position: relative;
  }

  .gallery__item {
    overflow: hidden;
    cursor: pointer;
  }

  .gallery__item img {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }

  .gallery__item:hover {
    opacity: 0.8;
  }

  .gallery__item:hover img {
    transform: scale(1.3);
  }
}

.bg-image {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}

.spinner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fetching-data-text {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.ChildFolder:hover {
  color: #0d6efd;
}
