<app-navbar-style-two-2></app-navbar-style-two-2>

<section class="blog-details-area pb-100" style="
background-image: url('assets/img/banner-image/bg.png');  
/* background-size: cover; */

 /* background-repeat: repeat-y; */
padding-top: 20px;
font-family: 'Congenial';">
    <div class="container" style="background: transparent;">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; border: 1px solid #eeeeee;">
                    <div class="article-image">
                        <h2 style="font-weight: normal;">
                            Mission and Vision
                        </h2>
                        <img src="assets/img/blog-image/sl-01.jpg" alt="image">
                    </div>
                    <div class="article-content">
                        <!-- 
                        <p>{{ 'COMMON.MISSION_BODY_1' | translate }}</p>
                        <p>{{ 'COMMON.MISSION_BODY_2' | translate }}</p> -->
                        <p>
                            <!-- জামেয়া আহমদিয়া সুন্নিয়া কামিল মাদরাসা ইসলামের মূল রূপরেখা আহলে সুন্নাত ওয়াল জামাআতের আক্বীদায় বিশ্বাসী মাসলাকে আলা
                        হযরতের উপর আস্থাশীল, নবীপ্রেমে উজ্জীবিত আলিমে হাক্কানী রাব্বানী সৃষ্টি করা। তাঁদের মাধ্যমে মানুষের মনে আল্লাহ্ভীতি,
                        নবীপ্রেম এবং আউলিয়ায়ে কেরামের প্রতি ভক্তি-শ্রদ্ধা সৃষ্টি করে দীনের খেদমত আঞ্জাম দেয়া।
                        এ পবিত্র উদ্দেশ্য ও লক্ষ্য পূরণে আমাদের অনুসৃত কার্যক্রমে আল্লাহ্ ও তাঁর প্রিয় হাবীব সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম এর
                        অপার অনুগ্রহ, আউলিয়ায়ে কেরামের অশেষ নেগাহ্ করম এবং নবীপ্রেমিক মুসলমানের সার্বিক সহযোগিতা ও সহানূভুতি কামনা করছি।
                        <br> -->
                            Jamea Ahmadia Sunnia Kamil Madrasah to create Haqqani Rabbani scholars who believe in the
                            creed of Ahle Sunnat wal
                            Jama’at the main outline of Islam, trusting in Maslake Ala Hazrat, enlivened by the love of
                            the Prophet (SM). Through
                            them, to create fear of Allah, love of the Prophet (SM) and devotion to the saints and
                            perform the service of religion.
                            In our activities to fulfill this holy purpose and goal, we seek the immense grace of Allah
                            and His beloved Habib (SM),
                            the eternal care of Auliyae Keram and the overall cooperation and sympathy of the
                            Prophet-loving Muslims.
                        </p>

                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <aside class="widget-area" id="secondary">

                    <section class="widget widget_karlson_posts_thumb" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; padding-top: 0; border: 1px solid #eeeeee;">

                        <div class="page-title-content" style="margin-top: 0; text-align: left;">
                            <ul>
                                <li> <a routerLink="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a></li>
                                <li>About</li>
                                <li>Mission and Vision
                                </li>
                            </ul>
                        </div>

                    </section>

                    <section class="widget widget_karlson_posts_thumb" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; border: 1px solid #eeeeee; margin-top: 15px;">
                        <h3 class="widget-title">Suggested Video</h3>

                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/MAz9kRnvSYE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>

                    </section>

                    <section class="widget widget_categories" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; border: 1px solid #eeeeee; margin-top: 15px;">
                        <h3 class="widget-title">Related Topics</h3>

                        <ul>
                            <li>
                                <a routerLink="/at-a-glance">At a glance</a>
                            </li>
                            <li>
                                <a routerLink="/history">History</a>
                            </li>
                            <li>
                                <a routerLink="/mission-and-vision">Mission and Vision </a>
                            </li>
                            <li>
                                <a routerLink="/infrastructure">Infrastructure</a>
                            </li>
                            <li>
                                <a routerLink="/achievement">Achievement</a>
                            </li>
                            <li>
                                <a routerLink="/news-and-events">News & Events</a>
                            </li>
                        </ul>

                    </section>

                </aside>
            </div>
        </div>
    </div>
</section>