<app-navbar-style-two-2></app-navbar-style-two-2>

<section class="blog-details-area pb-100" style="
background-image: url('assets/img/banner-image/bg.png');  
/* background-size: cover; */

 /* background-repeat: repeat-y; */
padding-top: 20px;
font-family: 'Congenial';">
    <div class="container" style="background: transparent;">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="blog-details-desc" style="background-image: url('/assets/img/school/bg-popup.png');
          background-size: 100px;padding: 20px; border: 1px solid #eeeeee;">
                    <div class="form-header text-center">
                        <h3 style="font-weight: normal;">E-payment System</h3>
                    </div>
                    <div class="form-content"
                        style="max-width: 75%; background-color: transparent; padding: 0; margin-bottom: 20px;">
                        <div class="text-left">
                            <span style="font-weight: normal;">Please complete the form below - you will then be
                                transferred to a secure server whereupon you will be asked for your credit card /debit
                                card/bKash card or other payment mode details.</span>
                        </div>
                    </div>
                    <div class="form-content"
                        style="max-width: 75%; margin-top: 0; border-bottom: 2px solid #127176; border-top: 2px solid #127176;">
                        <div class="form-header text-left">
                            <h3 style="text-align: left;">Student Information</h3>
                        </div>

                        <form>
                            <div class="form-group">
                                <label>EDU ID / Ref. No.</label>
                                <input type="text" class="form-control" id="RefNo" style="border: 2px solid #eee;">
                            </div>
                            <div class="form-group">
                                <label>Full Name:</label>
                                <input type="text" class="form-control" id="FullName" style="border: 2px solid #eee;">
                            </div>
                            <div class="form-group">
                                <label>Email Address:</label>
                                <input type="email" class="form-control" id="Email" style="border: 2px solid #eee;">
                            </div>
                            <div class="form-group">
                                <label>Contact Number:</label>
                                <input type="number" class="form-control" id="ContactNo"
                                    style="border: 2px solid #eee;">
                            </div>
                            <div class="form-group">
                                <label>Address:</label>
                                <textarea class="form-control" id="Address" rows="5"
                                    style="border: 2px solid #eee; min-height: 120px;"></textarea>
                            </div>
                            <div class="form-header text-left" style="margin-top: 20px;">
                                <h3 style="text-align: left;">Payment Details</h3>
                            </div>
                            <div class="form-group">
                                <label>Payment Type:</label>

                                <select class="form-control" id="PaymentType">
                                    <option value="">Select Payment Option</option>
                                    <option value="10">Admission Form Fees</option>
                                    <option value="11">Acknowledgement Letter Fees</option>
                                    <option value="12">Studentship Certificate Fees</option>
                                    <option value="13">Course Waiver Fees</option>
                                    <option value="17">Main Certificate</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label>Select your program:</label>

                                <select class="form-control" id="ProgramType">
                                    <option value="">Select Program</option>
                                    <option value="11">BBA</option>
                                    <option value="12">BA in English</option>
                                    <option value="13">BA in Econmics</option>
                                    <option value="14">BSc. in EEE</option>
                                    <option value="15">BSc. in CSE</option>
                                    <option value="16">BSc. in ETE</option>
                                    <option value="17">MBA</option>
                                    <option value="18">MA in English</option>
                                    <option value="19">Master of Public Policy &amp; Leadership</option>
                                    <option value="20">EBSc. in EEE</option>
                                    <option value="21">EBSc. in CSE</option>
                                    <option value="22">MSc. in CSE</option>
                                    <option value="23">MSc. in ETE</option>
                                    <option value="24">MSc. in Data Analytics and Design Thinking</option>
                                    <option value="25">Bsc. in Econmics</option>

                                </select>

                            </div>

                            <div class="form-header text-center" style="margin-top: 30px; margin-bottom: 50px;">
                                <h2>৳ 0.00</h2>
                            </div>

                            <button type="submit" class="default-btn">Continue With Secured Payment</button>
                        </form>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>